body {
  margin-top: 90px; }

li {
  list-style: none; }

.navbar {
  box-shadow: 2px 2px 5px #007bff;
  background: #000;
  opacity: 0.9; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/banner/bg-1.png");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/banner/bg-2.png");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/banner/bg-3.png");
  background-size: cover; }

#ticketBox a {
  text-decoration: none;
  color: black; }

#visa-prosses .visa_prossesing_area {
  padding-top: 120px;
  padding-bottom: 120px; }

#visa-prosses .single_prosses {
  transition: .3s; }

#visa-prosses .thumb img {
  width: 100%;
  margin-bottom: 20px; }

#visa-prosses .thumb img:hover {
  transform: rotateY(180deg); }

#visa-prosses .content {
  position: absolute;
  left: 30px;
  bottom: 30px; }
  #visa-prosses .content p {
    margin-bottom: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400; }
    #visa-prosses .content p a {
      display: inline-block;
      background: #1EC6B6;
      font-size: 12px;
      border-radius: 30px;
      font-weight: 400;
      padding: 0px 12px;
      height: 25px;
      line-height: 25px;
      color: #fff;
      margin-left: 10px;
      text-decoration: none; }

#visa-prosses .content:hover p {
  color: #FF4A52; }
  #visa-prosses .content:hover p a {
    background: #FF4A52;
    color: #fff; }

.testimonial_area {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 0 100px 0;
  background: #f7fafd; }
  .testimonial_area .carousel-indicators li {
    width: 20px;
    height: 1px;
    background: #03696e;
    border-radius: 50%;
    padding: 0px; }
  .testimonial_area .single_testmonial {
    margin-bottom: 20px; }
    .testimonial_area .single_testmonial p {
      color: #040E27;
      font-weight: 500;
      font-size: 19px;
      line-height: 32px;
      margin: 34px 0 10px 0;
      font-family: "Rubik", sans-serif; }
    .testimonial_area .single_testmonial .author_thumb {
      width: 106px;
      height: 106px;
      margin: auto;
      margin: auto auto 15px auto;
      position: relative; }
      .testimonial_area .single_testmonial .author_thumb::before {
        position: absolute;
        right: -15px;
        bottom: -12px;
        width: 50px;
        height: 50px;
        content: "\f100";
        font-family: "Flaticon";
        text-align: center;
        line-height: 50px;
        background: #1EC6B6;
        color: #fff;
        font-size: 17px; }
    .testimonial_area .single_testmonial .testmonial_author h3 {
      color: #7A838B;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
      margin: 0; }

#recent-trip .recent_trip_area {
  padding-top: 120px;
  padding-bottom: 120px; }

#recent-trip .single_trip .thumb img {
  width: 100%; }

#recent-trip .single_trip a {
  text-decoration: none; }
  #recent-trip .single_trip a h3 {
    color: black; }

.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #040E27;
  position: relative;
  z-index: 0; }
  .footer .footer_top {
    padding-top: 115px;
    padding-bottom: 129px; }
    .footer .footer_top .footer_widget .links {
      position: relative;
      top: -14px; }
      .footer .footer_top .footer_widget .links.double_links li {
        width: 50%;
        float: left; }
    .footer .footer_top .footer_widget .footer_title {
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 45px; }
    .footer .footer_top .footer_widget .footer_logo {
      font-size: 22px;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      margin-bottom: 40px; }
    .footer .footer_top .footer_widget p {
      color: #AAB1B7;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      color: #AAB1B7; }
      .footer .footer_top .footer_widget p a {
        color: #AAB1B7;
        text-decoration: none; }
        .footer .footer_top .footer_widget p a:hover {
          color: red; }
    .footer .footer_top .footer_widget p.footer_text {
      font-size: 16px;
      color: #B2B2B2;
      margin-bottom: 23px;
      font-weight: 400;
      line-height: 26px; }
      .footer .footer_top .footer_widget p.footer_text a.domain {
        color: #B2B2B2;
        font-weight: 400; }
        .footer .footer_top .footer_widget p.footer_text a.domain:hover {
          color: red;
          border-bottom: 1px solid red; }
      .footer .footer_top .footer_widget p.footer_text.doanar a {
        font-weight: 500;
        color: #B2B2B2; }
        .footer .footer_top .footer_widget p.footer_text.doanar a:hover {
          color: red;
          border-bottom: 1px solid red; }
        .footer .footer_top .footer_widget p.footer_text.doanar a.first {
          margin-bottom: 10px; }
    .footer .footer_top .footer_widget ul li {
      color: #ACACAC;
      font-size: 14px;
      line-height: 36px;
      list-style: none; }
      .footer .footer_top .footer_widget ul li a {
        color: #AAB1B7;
        font-weight: 400;
        text-decoration: none; }
        .footer .footer_top .footer_widget ul li a:hover {
          color: red; }
    .footer .footer_top .footer_widget .instagram_feed {
      margin: -7.5px -7.5px 0 -7.5px;
      background: #000; }
      .footer .footer_top .footer_widget .instagram_feed .single_insta {
        width: 33.33%;
        float: left;
        padding: 7.5px;
        overflow: hidden; }
        .footer .footer_top .footer_widget .instagram_feed .single_insta img {
          width: 100%;
          border-radius: 5px;
          opacity: 0.7; }
        .footer .footer_top .footer_widget .instagram_feed .single_insta img:hover {
          opacity: 1; }
  .footer .copy-right_text {
    padding-bottom: 26px; }
    .footer .copy-right_text .footer_border {
      border-top: 1px solid #363E52;
      padding-bottom: 26px; }
    .footer .copy-right_text .copy_right {
      font-size: 14px;
      color: #7A838B;
      margin-bottom: 0;
      font-weight: 400; }
      .footer .copy-right_text .copy_right a {
        color: red;
        text-decoration: none; }
  .footer .socail_links {
    margin-top: 47px; }
    .footer .socail_links ul li {
      display: inline-block; }
      .footer .socail_links ul li a {
        font-size: 15px;
        color: #C3B2F0;
        width: 30px;
        display: inline-block;
        text-align: center;
        background: transparent;
        margin-right: 7px;
        color: #FFFFFF;
        line-height: 40px !important;
        color: #E8E8E8; }
        .footer .socail_links ul li a:hover {
          color: red !important;
          border-color: transparent; }
